/* .draggable_list_items > li {
  border: 1px solid #dce2e3;
} */
.draggable_list_items {
  display: inline-block;

  > li {
    border: 1px;
    padding: 5px;
    &.dragElem {
      opacity: 0.4;
    }
    &.over {
      margin-top: 1.3em; // while dragging, show emptiness where one could drop li
      transition: margin 500ms; // to prevent flickering states
    }
    &:not(.over) {
      margin-top: 0;
      transition: margin 800ms; // to prevent flickering states
    }
    &.drop-confirm {
      box-shadow: inset 0 0 15px rgba(108, 237, 196, 0.5);
      transition: box-shadow 500ms; 
    }
  }
  li {
    &:first-child:not(:only-child) button[draggable] {
      // add ↓
      cursor: s-resize;
      &:after {
        content: '\2193'; 
      }
    }
    &:not(:first-child):not(:last-child) button[draggable] {
      // add ⇅
      cursor: ns-resize;
      &:after{
        content: '\21C5 '; 
      }
    }
    &:last-child:not(:only-child) button[draggable] {
      // add ↑
      cursor: n-resize;
      &:after{
        content: '\2191'; 
      }
    }
  }

  button {
    float: left;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 0px;
    margin-right: 0px;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
    text-align: left;
  }
}

/*This <button> elements are added by JS */
.draggable_list_items button[draggable],
.deletable_list_items button[deletable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  background: transparent;
  border: none;
  background-size: 120% 120%;
  background-position: center center;
}

/* If only one item, you cannot reorder list to hide draggable button: */
.draggable_list_items > li:only-of-type > button[draggable] {
  display: none;
}

.deletable_list_items button[deletable]:after {
  /* This will render the 'X' */
  cursor: no-drop;
  content: '\00d7';
  font-size: 1.2em;
  line-height: 1.1em;
  color: red;
}